extends layout

block content
  h1= title
  p Welcome to #{title}, a Python bytecode interpreter written in TypeScript.
    p Upload a *.pyc file:
  form(method='POST', action="/upload", enctype="multipart/form-data")
        div(data-role="fieldcontain")
            input(type="file", name="displayImage")
        div(data-role="fieldcontain")
            input(type="submit", value="run...")

